{% extends "base.html" %}
{% block content %}
<script>
        (function() {
        var cx = '015400328856102467425:bqqhilaaw74'; // Insert your own Custom Search Engine ID here
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') +
	        '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
        })();
</script>
<h1>Google Search Function</h1>
<div style="border: 1px solid blue;">
    <gcse:searchbox></gcse:searchbox>
</div>
<div style="border: 1px solid red;">
    <gcse:searchresults></gcse:searchresults>
</div>
{% endblock %}